.Explore{
  overflow: hidden;
  background-color: rgb(49, 71, 210);
  font-size: 30px;
  color: aqua;
  display: inline-block;
   position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.topnav{
  background-color: rgb(255, 255, 255);
  font-size: large;
  display: inline-block;
  padding: 10px;
  align-content: center;
}

body{
  background-image: url("images/background.jpg");
  background-color: beige;
}